@use "../abstracts/index" as *

.story
    width: 75%
    margin: 0 auto
    box-shadow: 0 3rem 6rem rgba($color-black, .2)
    background-color: rgba($color-white, .6)
    border-radius: 5px
    padding: 6rem
    padding-left: 8rem
    font-size: $default-font-size
    transform: skewX(-12deg)
    translate: all .5s
    // opacity: 

    &__shape
        width: 15rem
        height: 15rem
        float: left
        -webkit-shape-outside: circle(50% at 50% 50%)
        shape-outside: circle(50% at 50% 50%)
        clip-path: circle(50% at 50% 50%)
        transform: translateX(-2rem) skewX(12deg)
        position: relative
    
    &__img
        height: 100%
        transform: translateX(-4rem) scale(1.4)
        transition: all .5s
        backface-visibility: hidden

    &__text
        transform: skewX(12deg)

    &__caption
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, 20%)
        color: $color-white
        text-transform: uppercase
        opacity: 0
        backface-visibility: hidden
        text-align: center
        font-size: 1.7rem
        transition: all .5s
    
    &:hover &__caption
        opacity: 1
        transform: translate(-50%, -50%)
        backface-visibility: hidden
    
    &:hover &__img
        transform: translateX(-4rem) scale(1)
        backface-visibility: hidden
        filter: blur(3px) brightness(80%)
    
    &:hover
        transform: translateY(-.5rem) skewX(-12deg)
        box-shadow: 0 3rem 6rem rgba($color-primary-dark, .5)
        // background-image: linear-gradient(to right, $color-primary-light, $color-white)
        // background-image: linear-gradient(to bottom right, $color-primary-light, $color-white, $color-primary-light)
        // background-image: linear-gradient(to bottom right, $color-white, $color-primary-light, $color-white)
        
         